<h1>Login</h1>

<%= form_for(:session, url: login_path) do |f| %>

    <div class="form-group">
        <label>Email:</label>
        <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
        <label>Password:</label>
        <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group form-check">
        <%= f.check_box :remember_me, class: 'form-check-input' %>
        <label>Remember me</label>
    </div>

     <%= f.submit "Login", class: 'btn btn-success' %>
<% end %>