<% provide(:button_text, 'Post') %>
<div class="row">
    <div class="col-4">
        <div class="mt-2">
            <%= gravatar_for(@user) %>
            <div class="user-info">
                <h4 class="name"><%= @user.name %> </h4>
                <p class="email">
                    <%= @user.email %>
                    <% if @user.admin? %>
                        <span class="badge badge-pill badge-dark">Admin</span>
                    <% end %>
                </p>
            
            </div>
            <% if current_user?(@user) %>
                <div class="current-user-links border-top pt-1">
                    <%= link_to 'Edit Profile', edit_user_path(@user) %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="posts col">
        <% if current_user?(@user) %>
            <div class="pb-2 mb-2 border-bottom">
                <%= render 'posts/form' %>
            </div>
        <% end %>
        <%= render @posts %>
    </div>
</div>
